extends layout.pug

block content
	div(class="w3-container w3-center")
		h1 Welcome to this joke page

	p(class="w3-col m6 w3-center") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis fringilla nisl, non bibendum arcu. Lorem ipsum dolor sit amet, consectetur amet dipiscing elit. Quisque placerat pretium risus quis auctor. In varius tortor vel sagittis egestas. Duis in convallis nulla. Fusce elit turpis, dictum et hendrerit consectetur, aliquam vel elit. Vivamus purus sapien, posuere quis vulputate quis, viverra nec odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc euismod, lorem quis pellentesque euismod, risus eros posuere mauris, eget maximus est tellus vitae orci. Quisque et nunc ut diam congue efficitur. Duis sagittis risus ante. Sed id ipsum non nisl mattis tempor. Ut luctus hendrerit dolor sed luctus. Maecenas fermentum augue vel urna ultrices aliquet. Nulla mollis, lorem quis dictum rutrum, sem leo consectetur turpis, id venenatis tortor risus et dui. Praesent eget sapien sed leo convallis lacinia vulputate ac ante.
	h3 Goodbye
