extends layout.pug

block content
	div(ng-app="App" ng-controller="index_ctrl" class="w3-container w3-center")
		h1 News (What's Happening around the world)
		div(ng-show="news.length")
			div(ng-repeat="article in news |filter:search")
				div(class="w3-col s4 w3-card-4")
					header(class="w3-container w3-gray")
						h1 {{article.title}}
					div.w3-container
						p {{article.description}}
						a(href="{{article.url}}")
							h5 {{article.source.name}}
						a(href="{{article.urlToImage}}") Images
					footer(class="w3-container w3-teal")
						h5 {{article.publishedAt}}
	script(src="/controllers/index_ctrl.js")